.CreateTodoButton {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.5);;
    background-color: transparent;
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.5),
   5px 5px 9px rgba(94, 104, 121, 0.5);
   cursor: pointer;

   transform: rotate(0);
   transition: .3s ease;
}

.CreateTodoButton:focus {
    outline: none;
}

.CreateTodoButton:hover {
    box-shadow: none;
    transform: rotate(269deg);
}